
@{
    ViewBag.Title = "MessageMinion";
}

@model Minion.Client.Models.Users

<h2>@Html.DisplayTextFor(m => m.Minion)</h2>

<form action="/Minion/Groups">
    <p>
        @Html.LabelFor(m => m.Message)
    </p>
    <p>
        @Html.TextAreaFor(m => m.Message)
    </p>

    <button class="btn btn-default" type="submit">Send</button>
</form>

