
@{
    ViewBag.Title = "MessageFriend";
}

@model MinionChat.Client.Models.Users

<h2>@Html.DisplayTextFor(m => m.Friend)</h2>

<form action="/Minion/UserHome">
    <p>
        <h3>@Html.LabelFor(m => m.Message)</h3>
    </p>
    <p>
        @Html.TextAreaFor(m => m.Message)
    </p>

    <button class="btn btn-default" type="submit">Send</button>
</form>

