@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MinionChat</h1>
    <p class="lead">Come chill with your friends and get your game on.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Come on in</h2>
        <p>
            Welcome back.  Log in to pick up where you left off.
        </p>
        <p><a class="btn btn-default" href="/Minion/Login">Log In</a></p>
    </div>
    <div class="col-md-4">
        <h2>New Here</h2>
        <p>
            If this is your first visit, sign up and explore around our corner of the InterWebs.
        </p>
        <p><a class="btn btn-default" href="/Minion/CreateAccount">Create Account</a></p>
    </div>
</div>